body {
    text-align: center;
    margin-top: 100px;
    font-family: Arial, sans-serif;
}

.orange {
    text-shadow: 5px 5px 10px orange;
    font-size: 60px;
}

.gray {
    text-shadow: 5px 5px 10px gray;
    font-size: 60px;
}

.silver {
    text-shadow: 5px 5px 10px silver;
    font-size: 60px;
}
